@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form   asp-controller="Home" asp-action="Index" >
    <input type="text" #Message name="message" />
    <input type="text" #Numbers name="phones" />

    <button type="submit" class="btn btn-dark"> gönder</button>
</form>
